.hidden { 
    display:  none;
}
.products div {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}

button {
  background: black;
  color: white;
  border: none;
  padding: 10px 14px;
  cursor: pointer;
}

button:hover {
  opacity: 0.85;
}
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 40px;
}

.products div {
  max-width: 300px;
}
.products img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

